## Styler視覺化(格式化)
- 改變顯示的外觀，這不會改變原始數據，只是改變顯示效果
---
## .style.format()

In [ ]:
import pandas as pd

df1 = pd.read_csv('new各鄉鎮市區人口密度.csv')
display(df1)   #它比 print() 更適合顯示 DataFrame 
def format1(value:int):
    return f"第{value}號"
df1.style\
.format(precision=2,thousands=',',decimal='.')\
.format_index(format1)

     統計年     區域別   年底人口數     土地面積   人口密度
0    106  新北市板橋區  551480  23.1373  23835
1    106  新北市三重區  387484  16.3170  23747
2    106  新北市中和區  413590  20.1440  20532
3    106  新北市永和區  222585   5.7138  38956
4    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
365  106  連江縣北竿鄉    2360   9.9000    238
366  106  連江縣莒光鄉    1624   4.7000    346
367  106  連江縣東引鄉    1352   3.8000    356
368  106    東沙群島       0   2.3800      0
369  106    南沙群島       0   0.5045      0

[370 rows x 5 columns]

## lambda 匿名的function 適用於簡單只需要一行的函式
- lambda 參數 : 返回值

In [ ]:
df1 = pd.read_csv('new各鄉鎮市區人口密度.csv')
display(df1)
df1.style\
.format(precision=2,thousands=',',decimal='.')\
.format_index(lambda value:f'第{value}號')

     統計年     區域別   年底人口數     土地面積   人口密度
0    106  新北市板橋區  551480  23.1373  23835
1    106  新北市三重區  387484  16.3170  23747
2    106  新北市中和區  413590  20.1440  20532
3    106  新北市永和區  222585   5.7138  38956
4    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
365  106  連江縣北竿鄉    2360   9.9000    238
366  106  連江縣莒光鄉    1624   4.7000    346
367  106  連江縣東引鄉    1352   3.8000    356
368  106    東沙群島       0   2.3800      0
369  106    南沙群島       0   0.5045      0

[370 rows x 5 columns]

In [ ]:
import numpy as np

weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])
weather_df

               Tokyo    Taipei
2021-01-01  2.720725  4.601528
2021-01-02  1.532423  0.104069
2021-01-03  0.268542  4.265225
2021-01-04  2.384637  2.883923
2021-01-05  0.670677  1.583503
2021-01-06  0.941805  3.301774
2021-01-07  1.635585  2.608316
2021-01-08  0.918600  2.573741
2021-01-09  0.743328  4.334327
2021-01-10  2.236923  3.522427

## .set_caption() 主題名稱
## .format_index() index格式化  搜尋np strftime
## .background_gradient() 背景顏色 搜尋 matplitlib Colormap reference

In [8]:
weather_df.style\
.set_caption('Weather Conditions')\
.format_index(lambda v:v.strftime("%a"))\
.background_gradient(vmin=1,vmax=5,cmap='GnBu')

In [9]:
weather_df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')