## Series.groupby 群組相同值得資料 並使用統計運算
- 大部分是字串或時間

In [1]:
#groupby,群組相同值的資料,並使用統計運算
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

  key1 key2     data1     data2
0    a  one -2.136707 -0.810950
1    a  two  1.042408  2.219022
2    b  one -1.724638 -0.412910
3    b  two -1.485031  1.327711
4    a  one -0.619994  0.334056

In [2]:
gp1 = df['data1'].groupby(by=['x','x','x','y','y'])
gp1.sum()

x   -2.818937
y   -2.105025
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).sum()

key1
a   -1.714293
b   -3.209669
Name: data1, dtype: float64

## !

In [12]:
#Series Groupby
df2 = df['data1'].groupby([df['key1'],df['key2']]).sum()
df2
df2.unstack(level='key2')

key2       one       two
key1
a    -2.756701  1.042408
b    -1.724638 -1.485031

In [9]:
df

  key1 key2     data1     data2
0    a  one -2.136707 -0.810950
1    a  two  1.042408  2.219022
2    b  one -1.724638 -0.412910
3    b  two -1.485031  1.327711
4    a  one -0.619994  0.334056

In [8]:
#DataFrame的Groupby
df.groupby(by=['key1','key2']).sum()

              data1     data2
key1 key2
a    one  -2.756701 -0.476894
     two   1.042408  2.219022
b    one  -1.724638 -0.412910
     two  -1.485031  1.327711

In [10]:
#透過DataFrame的groupby,取出SeriesGroupby
df3 = df.groupby(by=['key1','key2'])['data1'].sum()
df3.unstack(level='key2')

key2       one       two
key1
a    -2.756701  1.042408
b    -1.724638 -1.485031