In [2]:
import pandas as pd 
df = pd.read_csv('個股日成交資訊.csv')
df

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,"46,790,503","3,463,425,684",74.95,75.25,72.80,72.80,-2.05,"23,021"
1,0051,元大中型100,"43,172","1,177,199",27.30,27.57,26.75,26.75,-0.52,45
2,0052,富邦科技,"161,425","9,156,750",57.60,57.60,55.35,55.35,-2.35,67
3,0053,元大電子,"35,076","1,163,448",33.36,33.61,32.56,32.69,-0.67,19
4,0054,元大台商50,"27,028","507,569",18.80,19.00,18.64,18.64,-0.36,13
...,...,...,...,...,...,...,...,...,...,...
1108,9944,新麗,"1,463,020","22,024,560",15.60,15.60,14.60,14.65,-0.75,796
1109,9945,潤泰新,"5,262,676","178,768,894",34.20,34.30,33.40,33.40,-0.65,"3,169"
1110,9946,三發地產,"871,456","10,936,770",12.55,12.55,12.55,12.55,-1.35,46
1111,9955,佳龍,"827,246","10,257,476",13.10,13.10,11.85,12.10,-0.50,412
1112,9958,世紀鋼,"10,816,881","868,126,524",81.00,81.80,78.50,79.50,+0.90,"6,743"

In [ ]:
#使用subscript做'欄'的選取
df[['證券代號','證券名稱','收盤價','漲跌價差']]  # [[  ]]

      證券代號     證券名稱    收盤價   漲跌價差
0     0050   元大台灣50  72.80  -2.05
1     0051  元大中型100  26.75  -0.52
2     0052     富邦科技  55.35  -2.35
3     0053     元大電子  32.69  -0.67
4     0054   元大台商50  18.64  -0.36
...    ...      ...    ...    ...
1108  9944       新麗  14.65  -0.75
1109  9945      潤泰新  33.40  -0.65
1110  9946     三發地產  12.55  -1.35
1111  9955       佳龍  12.10  -0.50
1112  9958      世紀鋼  79.50  +0.90

[1113 rows x 4 columns]

In [ ]:
# iloc[list] '列'
df.iloc[[1,2,3,1110,1111,1112]]

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
1,0051,元大中型100,"43,172","1,177,199",27.30,27.57,26.75,26.75,-0.52,45
2,0052,富邦科技,"161,425","9,156,750",57.60,57.60,55.35,55.35,-2.35,67
3,0053,元大電子,"35,076","1,163,448",33.36,33.61,32.56,32.69,-0.67,19
1110,9946,三發地產,"871,456","10,936,770",12.55,12.55,12.55,12.55,-1.35,46
1111,9955,佳龍,"827,246","10,257,476",13.10,13.10,11.85,12.10,-0.50,412
1112,9958,世紀鋼,"10,816,881","868,126,524",81.00,81.80,78.50,79.50,+0.90,"6,743"

In [ ]:
#前10筆
df.iloc[:10]

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,"46,790,503","3,463,425,684",74.95,75.25,72.80,72.80,-2.05,"23,021"
1,0051,元大中型100,"43,172","1,177,199",27.30,27.57,26.75,26.75,-0.52,45
2,0052,富邦科技,"161,425","9,156,750",57.60,57.60,55.35,55.35,-2.35,67
3,0053,元大電子,"35,076","1,163,448",33.36,33.61,32.56,32.69,-0.67,19
4,0054,元大台商50,"27,028","507,569",18.80,19.00,18.64,18.64,-0.36,13
5,0055,元大MSCI金融,"62,050","940,984",15.35,15.35,15.00,15.10,-0.32,52
6,0056,元大高股息,"80,530,934","1,897,973,002",23.70,23.82,23.26,23.29,-0.38,"35,938"
7,0057,富邦摩台,"20,011","967,537",48.35,48.35,48.35,48.35,-0.90,3
8,0061,元大寶滬深,"5,889,414","103,296,868",17.30,18.50,16.90,17.93,+1.00,"2,346"
9,006203,元大MSCI台灣,"7,000","242,470",34.98,34.98,34.52,34.52,-0.20,5

In [9]:
#後10筆
df.iloc[-10:]

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
1103,9940,信義,"614,392","15,029,849",25.00,25.00,24.10,24.15,-0.85,482
1104,9941,裕融,"1,154,041","94,259,381",83.00,84.00,80.50,80.50,-1.90,977
1105,9941A,裕融甲特,"110,495","5,692,743",51.00,51.60,51.00,51.50,+0.50,74
1106,9942,茂順,"446,980","25,102,580",58.40,58.40,55.20,55.50,-2.90,298
1107,9943,好樂迪,"1,240,952","62,381,800",52.30,52.30,49.50,49.60,-2.70,965
1108,9944,新麗,"1,463,020","22,024,560",15.60,15.60,14.60,14.65,-0.75,796
1109,9945,潤泰新,"5,262,676","178,768,894",34.20,34.30,33.40,33.40,-0.65,"3,169"
1110,9946,三發地產,"871,456","10,936,770",12.55,12.55,12.55,12.55,-1.35,46
1111,9955,佳龍,"827,246","10,257,476",13.10,13.10,11.85,12.10,-0.50,412
1112,9958,世紀鋼,"10,816,881","868,126,524",81.00,81.80,78.50,79.50,+0.90,"6,743"

In [12]:
df[['證券名稱','收盤價','漲跌價差']].iloc[-10:]

      證券名稱    收盤價   漲跌價差
1103    信義  24.15  -0.85
1104    裕融  80.50  -1.90
1105  裕融甲特  51.50  +0.50
1106    茂順  55.50  -2.90
1107   好樂迪  49.60  -2.70
1108    新麗  14.65  -0.75
1109   潤泰新  33.40  -0.65
1110  三發地產  12.55  -1.35
1111    佳龍  12.10  -0.50
1112   世紀鋼  79.50  +0.90

## reindex() 查詢
## drop() 移除不要欄位

In [ ]:
#透過 reindex() 的選取

df.reindex(index=[0,1,2,3,1108,1109],columns=['證券名稱','收盤價','漲跌價差'])

         證券名稱    收盤價   漲跌價差
0      元大台灣50  72.80  -2.05
1     元大中型100  26.75  -0.52
2        富邦科技  55.35  -2.35
3        元大電子  32.69  -0.67
1108       新麗  14.65  -0.75
1109      潤泰新  33.40  -0.65

In [ ]:
#透過 drop() '移除'欄位

df.drop(columns=['成交筆數','成交股數'])

      證券代號     證券名稱           成交金額    開盤價    最高價    最低價    收盤價   漲跌價差
0     0050   元大台灣50  3,463,425,684  74.95  75.25  72.80  72.80  -2.05
1     0051  元大中型100      1,177,199  27.30  27.57  26.75  26.75  -0.52
2     0052     富邦科技      9,156,750  57.60  57.60  55.35  55.35  -2.35
3     0053     元大電子      1,163,448  33.36  33.61  32.56  32.69  -0.67
4     0054   元大台商50        507,569  18.80  19.00  18.64  18.64  -0.36
...    ...      ...            ...    ...    ...    ...    ...    ...
1108  9944       新麗     22,024,560  15.60  15.60  14.60  14.65  -0.75
1109  9945      潤泰新    178,768,894  34.20  34.30  33.40  33.40  -0.65
1110  9946     三發地產     10,936,770  12.55  12.55  12.55  12.55  -1.35
1111  9955       佳龍     10,257,476  13.10  13.10  11.85  12.10  -0.50
1112  9958      世紀鋼    868,126,524  81.00  81.80  78.50  79.50  +0.90

[1113 rows x 8 columns]

## 更改欄位名稱

In [ ]:
#更改欄位名稱 , 使用 columns

df2 = df.reindex(index=[0,1,2,3,1108,1109],columns=['證券名稱','收盤價','漲跌價差'])
df2.columns = ['欄位1','欄位2','欄位3']
df2

          欄位1    欄位2    欄位3
0      元大台灣50  72.80  -2.05
1     元大中型100  26.75  -0.52
2        富邦科技  55.35  -2.35
3        元大電子  32.69  -0.67
1108       新麗  14.65  -0.75
1109      潤泰新  33.40  -0.65

In [25]:
#更改欄位名稱 , 使用 rename()

df2 = df.reindex(index=[0,1,2,3,1108,1109],columns=['證券名稱','收盤價','漲跌價差'])
df2.rename(columns={'證券名稱':'證券','收盤價':'收盤'})

           證券     收盤   漲跌價差
0      元大台灣50  72.80  -2.05
1     元大中型100  26.75  -0.52
2        富邦科技  55.35  -2.35
3        元大電子  32.69  -0.67
1108       新麗  14.65  -0.75
1109      潤泰新  33.40  -0.65