## 階層式的索引

In [2]:
import numpy as np
import pandas as pd 

s1 = pd.Series(np.random.randn(9),
          index=[
                    ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                    [1, 2, 3, 1, 2, 3, 1, 2, 3]
                ]
)
s1

a  1   -0.496425
   2    0.719962
   3   -1.296752
b  1   -1.398918
   2   -1.508729
c  3    0.502584
   1   -0.635955
d  2    1.810774
   3    0.380376
dtype: float64

In [3]:
s1['a']

1   -0.496425
2    0.719962
3   -1.296752
dtype: float64

In [4]:

s1[['a','d']]

a  1   -0.496425
   2    0.719962
   3   -1.296752
d  2    1.810774
   3    0.380376
dtype: float64

In [5]:
s1[('a', 3)]

np.float64(-1.296751667697539)

In [8]:
s1.index.names = ['key1','key2']

In [10]:
s1

key1  key2
a     1      -0.496425
      2       0.719962
      3      -1.296752
b     1      -1.398918
      2      -1.508729
c     3       0.502584
      1      -0.635955
d     2       1.810774
      3       0.380376
dtype: float64

In [9]:
s1.unstack(level='key2')

key2         1         2         3
key1
a    -0.496425  0.719962 -1.296752
b    -1.398918 -1.508729       NaN
c    -0.635955       NaN  0.502584
d          NaN  1.810774  0.380376

In [12]:
s1.unstack(level='key1')

key1         a         b         c         d
key2
1    -0.496425 -1.398918 -0.635955       NaN
2     0.719962 -1.508729       NaN  1.810774
3    -1.296752       NaN  0.502584  0.380376

In [13]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [14]:
s2 = frame.stack(level=['縣市','顏色'])
s2

/tmp/ipykernel_65030/3428581672.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  s2 = frame.stack(level=['縣市','顏色'])

key1  key2  縣市  顏色
a     1     台中  Green     2.0
            台北  Green     0.0
                Red       1.0
      2     台中  Green     5.0
            台北  Green     3.0
                Red       4.0
b     1     台中  Green     8.0
            台北  Green     6.0
                Red       7.0
      2     台中  Green    11.0
            台北  Green     9.0
                Red      10.0
dtype: float64

In [15]:
s2.unstack(level=['key1','縣市'])

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0